//
// LAYOUT
//

// Grid system
$size_base      : 16px
$m              : 1.5 * $size_base
$grid_columns   : 12
$columns_gutter : $m
$grid_classes   : false
$width_fixed    : $m*40

// Main regions
$header  : '.region-header'
$height_header : $m*2
$padding_header: $m/3
$content : '.region-content'
$footer  : '.region-footer'
$height_footer : $m*2
$padding_footer: $m/3

// Minimum padding in responsive one-col-layouts
$min_padding: $m/2


//
//  COLORS
//

// Interface colors (from Bootstrap)
$color_calm    : #5bc0de
$color_success : darken(#9d0, 10%)
$color_warning : #f0ad4e
$color_danger  : #d9534f

// Site palette
$green   : #7ffa07
$orange  : #ec8a0c
$pink    : #ef719d
$magenta : #d815c2
$yellow  : #feec00

// Element colors
$color_background : #111
$color_text       : white

// Text selection
$color_selection_background : #e73f26
$color_selection_text       : white


//
//  FONTS
//

@import url('https://fonts.googleapis.com/css?family=Public+Sans:300,700&display=swap')

$font_text            : 'Public Sans'
$font_text_alternates : sans-serif
$weight_text          : 300

$font_headers            : 'Public Sans'
$font_headers_alternates : sans-serif
$weight_headers          : 700

// Font sizes

$size_headers  : (2rem, 1.75rem, 1.5rem, 1.25rem, 1rem, 0.85rem)
$size_big      : 1.25em
$size_small    : 0.85em
$size_smaller  : 0.75em
