// Regions
.region-header
  background: #ececec
  font-size: $size_small
  +breakpoint('sm')
    height: $m*2
    line-height: $m*2
.region-footer
  padding: $padding_footer
  height: $height_footer

.pad
  padding-left: $m/2
  padding-right: $m/2

// One col layout
.layout-one-col-fluid__col
  padding: 0

// Two column layout
.layout-two-col__left-col,
  background-color: #bdbdbd
.layout-form-audioset__left,
.layout-form-audioset__left .actions
  background-color: #9e9e9e

.layout-two-col
  +breakpoint('sm')
    display: grid
    grid-template-columns: 33% 1fr
  +breakpoint('xl')
    display: grid
    grid-template-columns: 25% 1fr
.layout-form-audioset__right
  position: relative
  background-color: #7e7e7e
  +breakpoint('sm')
    height: calc(100vh - 40px)
    overflow-y: auto
.height-forms
  +breakpoint('sm')
    height: calc(100vh - 80px)
    overflow-y: auto

.layout-two-col__left-col,
.layout-two-col__right-col,
  +breakpoint('sm')
    height: calc(100vh - 40px)
    overflow-y: auto
