// Regions
.region-header
  padding: 0 $m/2
  height: $height_header
  background: #ececec
  display: flex
  justify-content: space-between
  align-items: center
  > div:first-child
    flex-basis: 400px
  > div:nth-child(2):not(.menu-user)
    flex-grow: 1

.region-content
  min-height: calc(100vh - #{$height_header})
.region-footer
  padding: $padding_footer
  height: $height_footer

.pad
  padding-left: $m/2
  padding-right: $m/2

// Two column layout
.layout-two-col__left-col
  background-color: #bdbdbd
.page--project-detail,
.page-form-project,
.page-form-audioset,
  .layout-two-col__left-col
    background-color: #bdbdbd

+breakpoint('sm')
  .layout-two-col__left-col
    display: inline-block
    width: 400px
    float: left
    height: calc(100vh - #{$height_header})
    overflow-y: hidden
  .layout-two-col__right-col
    display: inline-block
    padding: $m*2
    width: calc(100% - 400px)
    min-height: calc(100vh - #{$height_header})

// Classes
body.toppadded .region-content
  padding-top: $m*3

// Audioset form common settings

.layout-form-audioset
  +clearfix
  background-color: #333
.layout-form-audioset__left
  background-color: #acacac
  position: relative

.layout-form-audioset__left
  height: calc(100vh - #{ $height_header })
  overflow-y: auto
.layout-form-audioset__right
  max-height: calc(100vh - #{ $height_header })
  overflow-y: auto
  position: relative
+breakpoint('sm')
  .layout-form-audioset__left
    display: inline-block
    width: 400px
    float: left
    overflow-x: hidden
  .layout-form-audioset__right
    display: inline-block
    float: right
    width: calc(100% - 400px)

.region-content
  background-color: #d5d5d5

.page--audioset,
.page--audioset-configuration-form
  .layout-one-col-fluid__col
    padding: 0
