// Override django admin styles
// Dark flavour

// VARIABLES
$m: 24px
$color_background : #111
$color_background_darker : darken($color_background, 5%)
$color_background_darkest : darken($color_background, 10%)
$color_text : white
$color_links_hover : yellow
// #9d0 from bootstrap's success color
$color_submit_button_light : darken(#9d0, 20%)
$color_submit_button_dark  : darken(#9d0, 30%)


// General

body
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAADklEQVQImWNgQAUNZHAAQUQCAQpoxksAAAAASUVORK5CYII=) repeat
  background-color: $color_background
  color: $color_text
  min-height: 100vh
  scrollbar-color: black
  scrollbar-width: $m/2
a
  transition: color .2s ease
a:link, a:visited
  color: $color_text
a:hover
  color: $color_links_hover
a:active
  color: $color_text

// Regions
#header
  background: transparent
  #site-name
    font-weight: bold
div.breadcrumbs
  background: transparent
  margin-bottom: $m*2

// Components
// Always under #content to override avoiding !important clausules

#content
  // Section titles
  > h1
    color: $color_text
    font-weight: bold
    font-size: 2em
  // Modules
  .module
    background: transparent
    caption
      background: $color_background_darkest
    h2, h3
      color: $color_text
      background: none
      border: 0
    table
      th, td
        border-bottom: 2px solid $color_background_darkest
  #content-related
    background: $color_background_darker
  // Lists
  .form-row
    padding: $m
    border-bottom: 2px solid $color_background_darkest
  .form-row:last-child
    border: 0
  .form-row .help
    margin-top: $m
    opacity: .8
  .form-row .help,
  .form-row .help li
    color: white !important
    font-size: 1em !important
  .submit-row
    background: none
    border: 0
  // Forms
  fieldset.module
    margin-top: 0
    margin-bottom: 0
    padding: $m
    background: transparent
  .addlink
    border-radius: 0
    background-color: transparent
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="number"],
  input[type="tel"],
  textarea,
  select,
  .vTextField
    border: 0
    background: transparent
    color: white
    line-height: $m*1.5
    border: 2px solid black
    border-radius: 0
    padding: 0 $m

  .button:active,
  input[type="submit"]:active,
  input[type="button"]:active,
  .button:focus,
  input[type="submit"]:focus,
  input[type="button"]:focus,
  .button:hover,
  input[type="submit"]:hover,
  input[type="button"]:hover,
    border-color: $color_links_hover
  .button,
  input[type="submit"],
  input[type="button"],
  .submit-row input, a.buttons
    text-transform:  uppercase
    background-color: transparent
    border-radius: 0
    border: 1px solid white
    transition: border-color .2s ease
  .button.default,
  input[type="submit"].default,
  .submit-row input.default
    transition: border-color .2s ease
    background-color: transparent
    border-radius: 0
    border: 1px solid white
    &:hover
      border-color: $color_links_hover
  label
    font-size: 1.25em
    color: white !important
  .selector-filter
    background: none
    border: 0
  // errors
  .errornote,
  ul.errorlist,
  ul.errorlist li
    background: none
    border: 0
  .errornote
    margin-left: $m*2
    margin-top: $m
    padding-left: 0
  ul.errorlist,
  ul.errorlist li
    margin-left: 0
    padding-left: 0
    margin-bottom: $m/2
  // changelist
  #changelist #toolbar
    background: none
    color: white
    border: 0
  #changelist .actions
    background: none
  #changelist #result_list
    thead, tbody
      th, tr
        background: none
  #changelist .paginator
    background: none
    color: white
    border: 0
