{# Dashboard page #}
{% extends 'layouts/single-column-fluid.html' %}

{# tags not defined as built-ins in settings.py #}
{% load i18n static %}

{# body's css classes #}
{% block body_css_classes %}
    page--audioset
{% endblock %}

{# html title #}
{% block title %}
    {% trans 'Añade tracks: ' %} {{ object.name }}
{% endblock %}

{# breadcrumb #}
{% block breadcrumb %}
    <p class="page__breadcrumb">
        » <a href="{% url 'project_list' %}">{% trans 'Proyectos' %}</a>
        » <a href="{% url 'project_detail' object.project.pk %}">{{ object.project.name }}</a>
        » {{ object.name }}
    </p>
{% endblock %}

{# Content #}
{% block main %}
<div class="layout-form-audioset">
    <div class="layout-form-audioset__left modal-anchor">
        <p class="page__title">
            {{ object.name }}
        </p>
        <p class="dashboard-action tracklist__add-item"
           data-show-template="template-form-track"
           data-action="create"
           data-model="track"
        >
            {% icon 'plus' %}
            {% trans 'Añadir pista' %}
        </p>
        <ul class="tracklist tracklist--audioset" data-audioset="{{ view.kwargs.pk }}" data-csrf="{% csrf request %}">
        {% for track in tracks.all %}
            <li class="tracklist__item tracklist__item--audioset" data-id="{{ track.id }}" data-order="{{ track.order }}"
                style="background-color: {{ track.color }}">
                {% include 'components/view-item-track.html' with track=track %}
            </li>
        {% endfor %}
        </ul>
        <p class="dashboard-action dashboard-action--fixed-bottom">
            <a href="{% url 'audioset_update' object.id %}">
                  {% icon 'edit-2' %}
                  {% trans 'Editar audioset' %}
            </a>
        </p>
        <div id="form-tracklist-container"></div>
        {% include 'models/template_form_track.html' with form=trackform %}
        {% include 'models/template_form_clip.html' with form=clipform %}
        {% include 'models/template_form_delete.html' %}
    </div>
    <div class="layout-form-audioset__right">
        {% if audioset.is_panel and audioset.background %}
            <img class="audioset-background"
                 width="{{ audioset.background.width }}"
                 height="{{ audioset.background.height }}"
                 src="{{ audioset.background.url }}"
            />
        {% else %}
            <div id="map">
                {% include 'components/block-map-finder.html' with classes="hidden" submit="Localiza el clip" %}
            </div>
        {% endif %}
        <div class="clips-display-info">
            {% trans 'Puedes seleccionar los puntos del mapa para editar los clips asociados' %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    {# jquery #}
    <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    {# d3 #}
    {% if not audioset.is_panel %}
        <script src="https://d3js.org/d3.v3.min.js"></script>
        <script src="https://d3js.org/d3-geo.v1.min.js"></script>
        <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
        <script src="//d3js.org/topojson.v1.min.js"></script>
        <script type="text/javascript" src="{% static 'dashboard/js/map-loader.js' %}"></script>
        <script>
        document.addEventListener('DOMContentLoaded', loadMap(
            {{ object.map_scale }},
            {{ object.map_center_x }},
            {{ object.map_center_y }},
            false,
            {{ audioset.id }}
        ));
        </script>
    {% else %}
        <script src="{% static 'dashboard/js/panel-loader.js' %}"></script>
    {% endif %}
    {# forms #}
    <script src="{% static 'dashboard/js/tracklist-section.js' %}"></script>
    {{ clipform.media }}
{% endblock %}
