{# Dashboard page #}
{% extends 'layouts/two-column.html' %}

{# tags not defined as built-ins in settings.py #}
{% load i18n static %}

{# body's css classes #}
{% block body_css_classes %}
    page--dashboard toppadded
{% endblock %}

{# html title #}
{% block title %}
    {% trans 'Crea un audioset nuevo' %}
{% endblock %}

{# Sidebar #}
{% block sidebar %}
<div class="user-profile">
  {% include 'components/block-greeting.html' %}
  {% include 'components/menu-actions.html' with modifier='dashboard' %}
</div>
{% endblock %}

{# Content #}
{% block main %}
{% include 'components/block-fake-breadcrumb.html' %}
<h1 clas="page__title">
    {% trans 'Crea un audioset nuevo' %}
</h1>
{% include 'components/block-form-errors.html' with form=form %}
<form class="form-item-dashboard--create" method="post">
    {% csrf_token %}
    {{ form.errors }}
    {{ form.as_p }}
    <input type="submit" value="{% trans 'Crear audioset' %}" />
</form>
{% endblock %}

{% block extra_js %}
    {{ form.media }}
{% endblock %}
