{# Dashboard page #}
{% extends 'layouts/single-column-fluid.html' %}

{# tags not defined as built-ins in settings.py #}
{% load i18n static %}

{# body's css classes #}
{% block body_css_classes %}
    page--audioset-configuration-form
{% endblock %}

{# breadcrumb #}
{% block breadcrumb %}
<div class="page__breadcrumb">
    <a href="{% url 'project_list' %}">{% trans 'Proyectos' %}</a>
    {% if form.instance.pk %}
    / <a href="{% url 'project_detail' project.pk %}">{{ project.name }}</a>
    / <a href="{% url 'audioset_tracklist' form.instance.pk %}">{{ form.instance.name }}</a>
    » {% trans 'Editar audioset' %}
    {% else %}
    / <a href="{% url 'project_detail' project.pk %}">{{ project.name }}</a>
    / {% trans 'Añadir audioset' %}
    {% endif %}
</div>
{% endblock %}

{# html title #}
{% block title %}
    {% if form.instance.pk %}
    {% trans 'Edita ' %} {{ form.instance.name }}
    {% else %}
    {% trans 'Añade audioset' %}
    {% endif %}
{% endblock %}

{# Content #}
{% block main %}
<form enctype="multipart/form-data" class="form layout-form-audioset form-audioset-configure" method="post">
    {% csrf_token %}
    {% include 'forms/form-errors.html' with name="audioset-configure" %}
    <div class="layout-form-audioset__left">
        <div class="actions">
            <h5 class="actions__title">
                {% if form.instance.pk %}
                {% trans 'Editar audioset' %}
                {% else %}
                {% trans 'Crear audioset' %}
                {% endif %}
            </h5>
            <ul class="actions__items">
                <li class="actions__item">
                    <span class="form__cancel {% if modifier %}form__cancel--{{ modifier }}{% endif %}" onclick="history.go(-1)">
                        {% trans 'Cancelar' %}
                    </span>
                </li>
                <li class="actions__item">
                    <input class="btn btn--red" type="submit" value="{% trans 'Guardar' %}" />
                </li>
            </ul>
        </div>
        <div class="form-fields">
            <div class="fieldset">
                {% include 'forms/field.html' with field=form.name %}
                {% include 'forms/field.html' with field=form.slug %}
            </div>
            <div class="fieldset">
                {% include 'forms/field.html' with field=form.image %}
                {% include 'forms/field.html' with field=form.description %}
                {% include 'forms/field.html' with field=form.readme %}
            </div>
            <div class="fieldset">
                {% include 'forms/field.html' with field=form.playmode %}
                {% include 'forms/field.html' with field=form.audio_bpm %}
            </div>
            {% if request.user.is_staff %}
            <div class="fieldset">
                {% include 'forms/field.html' with field=form.audio_quantize %}
                {% include 'forms/field.html' with field=form.map_url %}
                {% include 'forms/field.html' with field=form.map_lambda %}
                {% include 'forms/field.html' with field=form.map_shift_vertical %}
            </div>
            {% endif %}
        </div>
        {% if form.instance.pk %}
        <div class="actions-secondary">
            <ul class="actions-secondary__items">
                <li class="actions-secondary__item">
                    <a href="{% url 'audioset_delete' form.instance.project.id form.instance.id %}">
                        {% trans 'Borra este audioset' %}
                        {% m_icon 'delete' %}
                    </a>
                </li>
                {% if request.user.is_staff %}
                <li class="actions-secondary__item">
                    <a href="{% url 'api:audioset' form.instance.slug %}" target="_blank">
                        {% trans 'Ver en API' %}
                        {% m_icon 'visibility' %}
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="layout-form-audioset__right">
        <div class="background-field background-field--panel">
            <label class="background-field__label required">
                {% trans 'Fondo del audioset' %}
            </label>
            <span class="background-field__helptext">
                {% trans '¿Qué fondo quieres para el audioset?' %}
            </span>
            {{ form.mode_display }}
        </div>
        <div class="mode-selector" data-current-state="{{ form.mode_display.value }}">
            <div class="mode-selector__state" data-state="1">
                <div class="mode-selector__state-fields">
                    {% include 'forms/field.html' with field=form.background %}
                </div>
            </div>
            <div class="mode-selector__state" data-state="2">
                <div class="mode-selector__state-fields">
                    <div id="map"></div>
                    <div class="map__fields">
                        {% include 'components/block-background-field-map.html' with submit="Centrar mapa" %}
                        {% include 'forms/field.html' with field=form.map_scale classes="hidden" %}
                        {% include 'forms/field.html' with field=form.map_center_x classes="hidden" %}
                        {% include 'forms/field.html' with field=form.map_center_y classes="hidden" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}

{% block extra_js %}
    {{ form.media }}
    {# jquery #}
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/d3-geo.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
    <script src="//d3js.org/topojson.v1.min.js"></script>
    <script src="{% static 'dashboard/js/map-loader.js' %}"></script>
    <script>
    document.addEventListener('DOMContentLoaded', loadMap(
        {% if object %}
        {{ object.map_scale }}, {{ object.map_center_x }}, {{ object.map_center_y }}, true
        {% else %}
        1, 0, 0, true
        {% endif %}
    ));
    </script>
    <script type="text/javascript" src="{% static 'dashboard/js/configuration-section.js' %}"></script>
{% endblock %}
