{# Dashboard page #}
{% extends 'layouts/single-column-fluid.html' %}

{# tags not defined as built-ins in settings.py #}
{% load i18n static %}

{# body's css classes #}
{% block body_css_classes %}
    page--audioset
{% endblock %}

{# html title #}
{% block title %}
    {% trans 'Añade tracks: ' %} {{ object.name }}
{% endblock %}

{# Content #}
{% block main %}
{% include 'components/menu-audioset.html' with slug=audioset_slug active_item='tracklist' %}
<div class="layout-form-audioset">
    <div class="layout-form-audioset__left modal-anchor">
        <div class="field-name--form-audioset-configure">
            {{ audioset.name }}
        </div>
        <p class="tracklist__add-item"
           data-show-template="template-form-track"
           data-action="create"
           data-model="track"
        >
            {% icon 'plus' %}
            {% trans 'Añade un track nuevo' %}
        </p>
        <ul class="tracklist tracklist--audioset" data-audioset="{{ view.kwargs.pk }}" data-csrf="{% csrf request %}">
        {% for track in tracks.all %}
            <li class="tracklist__item tracklist__item--audioset" data-id="{{ track.id }}" data-order="{{ track.order }}"
                style="background-color: {{ track.color }}">
                {% include 'components/view-item-track.html' with track=track %}
            </li>
        {% endfor %}
        </ul>
        <div class="tracklist__help">
            {% blocktrans trimmed %}
            Puedes reordenar los tracks y los clips desplazándolos con el ratón.
            {% endblocktrans %}
        </div>
        <div id="form-tracklist-container"></div>
        {% include 'models/template_form_track.html' with form=trackform %}
        {% include 'models/template_form_clip.html' with form=clipform %}
        {% include 'models/template_form_delete.html' %}
    </div>
    <div class="layout-form-audioset__right">
        {% if audioset.is_panel and audioset.background %}
            <div class="audioset-background"
                  style="background-image: url('{{ audioset.background.url }}') "
            ></div>
        {% else %}
            <div id="map"></div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
    {# map #}
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/d3-geo.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
    <script src="//d3js.org/topojson.v1.min.js"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/map-loader.js' %}"></script>
    <script>
    document.addEventListener('DOMContentLoaded', loadMap(
        {{ object.map_scale }},
        {{ object.map_center_x }},
        {{ object.map_center_y }},
    ));
    </script>
    {# forms #}
    <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'dashboard/js/tracklist-section.js' %}"></script>
{% endblock %}
