{# Dashboard page #}
{% extends 'layouts/single-column-fluid.html' %}

{# tags not defined as built-ins in settings.py #}
{% load i18n static %}

{# body's css classes #}
{% block body_css_classes %}
    page--audioset-configuration-form
{% endblock %}

{# html title #}
{% block title %}
    {% trans 'Configura: ' %} {{ object.name }}
{% endblock %}

{# Content #}
{% block main %}
{% include 'components/menu-audioset.html' with slug=audioset_slug active_item='configuration' %}
<form enctype="multipart/form-data" class="layout-form-audioset form-audioset-configure" method="post">
    {% csrf_token %}
    {% include 'registration/forms/form-errors.html' with name="audioset-configure" %}
    <div class="layout-form-audioset__left">
        <div class="field-name--form-audioset-configure">
            {{ audioset_name }}
        </div>
        {% include 'models/audioset_configuration_field.html' with field=form.image %}
        {% include 'models/audioset_configuration_field.html' with field=form.readme %}
    </div>
    <div class="layout-form-audioset__right">
        <div class="mode-selector" data-current-state="{{ form.mode_display.value }}">
            <p class="mode-selector__explanation">
            {% blocktrans trimmed %}
                ¿Qué tipo de fondo quieres para el audioset?
            {% endblocktrans %}
            </p>
            {{ form.mode_display }}
            <div class="mode-selector__state" data-state="1">
                <div class="mode-selector__state-fields">
                    {% include 'models/audioset_configuration_field.html' with field=form.background %}
                </div>
            </div>
            <div class="mode-selector__state" data-state="2">
                <div class="mode-selector__state-fields">
                    <div id="map">
                        {% include 'components/block-map-finder.html' with submit="Centrar mapa" %}
                    </div>
                    <div class="map__fields">
                        {% include 'models/audioset_configuration_field.html' with field=form.map_scale %}
                        {% include 'models/audioset_configuration_field.html' with field=form.map_center_x %}
                        {% include 'models/audioset_configuration_field.html' with field=form.map_center_y %}
                    </div>
                    <div class="map__helptext">
                        {% blocktrans trimmed %}
                        Centra el mapa buscando las coordenadas de un lugar en el buscador. Puedes usar el
                        ratón para cambiar el zoom.
                        {% endblocktrans %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form__actions">
        <input class="form-audioset-configure__submit audioset-submit" type="submit"
               value="{% trans 'Guarda los cambios' %}"
        ></input>
    </div>
</form>

{% endblock %}

{% block extra_js %}
    {{ form.media }}
    {# jquery #}
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/d3-geo.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
    <script src="//d3js.org/topojson.v1.min.js"></script>
    <script src="{% static 'dashboard/js/map-loader.js' %}"></script>
    <script>
    document.addEventListener('DOMContentLoaded', loadMap(
        {{ object.map_scale }},
        {{ object.map_center_x }},
        {{ object.map_center_y }},
        true
    ));
    </script>
    <script type="text/javascript" src="{% static 'dashboard/js/configuration-section.js' %}"></script>
{% endblock %}
