{# Dashboard page #}
{% extends 'layouts/single-column-fluid.html' %}

{# tags not defined as built-ins in settings.py #}
{% load i18n static %}

{# body's css classes #}
{% block body_css_classes %}
    page--audioset
{% endblock %}

{# html title #}
{% block title %}
    {% trans 'Añade tracks: ' %} {{ object.name }}
{% endblock %}

{% block extra_media %}
    {{ clipform.media.css }}
{% endblock %}

{# breadcrumb #}
{% block breadcrumb %}
<div class="page__breadcrumb">
    / <a href="{% url 'project_list' %}">{% trans 'Proyectos' %}</a>
    / <a href="{% url 'project_detail' object.project.pk %}">{{ object.project.name }}</a>
    / {{ object.name }}
</div>
{% endblock %}

{# Content #}
{% block main %}
<div class="layout-form-audioset">
    <div class="layout-form-audioset__left modal-anchor">
        <div class="actions">
            <span class="actions__title">{{ object.name }}</span>
            <ul class="actions__items">
                  <li class="actions__item"
                      data-show-template="template-form-track"
                      data-action="create"
                      data-model="track"
                      data-tooltip="{% trans 'Añade una pista' %}"
                  >
                    {% m_icon 'add' %}
                </li>
                <li class="actions__item"
                    data-tooltip="{% trans 'Edita este audioset' %}"
                >
                    <a href="{% url 'audioset_update' object.id %}">
                        {% m_icon 'create' %}
                    </a>
                </li>
            </ul>
        </div>
        <ul class="tracklist tracklist--audioset" data-audioset="{{ view.kwargs.pk }}" data-csrf="{% csrf request %}">
        {% for track in tracks.all %}
            <li class="tracklist__item tracklist__item--audioset" data-id="{{ track.id }}" data-order="{{ track.order }}"
                style="background-color: {{ track.color }}">
                {% include 'components/view-item-track.html' with track=track %}
            </li>
        {% endfor %}
        </ul>
        <div id="form-tracklist-container"></div>
        <div class="form-help form-help--tracklist">
            {% trans 'Puedes seleccionar los clips en el mapa para editarlos' %}
        </div>
        <div class="actions-secondary">
            <ul class="actions-secondary__items">
                <li class="actions-secondary__item">
                    <a href="https://play.antropoloops.com/audioset/{{ object.slug }}" target="_blank">
                        {% trans 'Ver audioset online' %}
                        {% m_icon 'play_circle_filled' %}
                    </a>
                </li>
                <li class="actions-secondary__item">
                    <a href="{% url 'audioset_delete' object.project.pk object.pk %}">
                        {% trans 'Borrar audioset' %}
                        {% m_icon 'delete' %}
                    </a>
                </li>
            </ul>
        </div>
        {% include 'models/template_form_track.html' with form=trackform %}
        {% include 'models/template_form_clip.html' with form=clipform %}
        {% include 'models/template_form_delete.html' %}
    </div>
    <div class="layout-form-audioset__right">
        {% if audioset.is_panel and audioset.background %}
              {% include 'components/block-background-field-panel.html' with classes="hidden" %}
            <img class="audioset-background"
                 width="{{ audioset.background.width }}"
                 height="{{ audioset.background.height }}"
                 src="{{ audioset.background.url }}"
            />
        {% else %}
            {% include 'components/block-background-field-map.html' with classes="hidden" %}
            <div id="map"></div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
    {# jquery #}
    <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    {# d3 #}
    {% if not audioset.is_panel %}
        <script src="https://d3js.org/d3.v3.min.js"></script>
        <script src="https://d3js.org/d3-geo.v1.min.js"></script>
        <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
        <script src="//d3js.org/topojson.v1.min.js"></script>
        <script type="text/javascript" src="{% static 'dashboard/js/map-loader.js' %}"></script>
        <script>
        document.addEventListener('DOMContentLoaded', loadMap(
            {{ object.map_scale }},
            {{ object.map_center_x }},
            {{ object.map_center_y }},
            false,
            {{ audioset.id }}
        ));
        </script>
    {% else %}
        <script src="{% static 'dashboard/js/panel-loader.js' %}"></script>
    {% endif %}
    {# forms #}
    <script src="{% static 'dashboard/js/tracklist-section.js' %}"></script>
    {{ clipform.media }}
{% endblock %}
