{# Dashboard page #}
{% extends 'layouts/two-column.html' %}

{# tags not defined as built-ins in settings.py #}
{% load i18n static %}

{# body's css classes #}
{% block body_css_classes %}
    page--dashboard page-form-project
{% endblock %}

{# html title #}
{% block title %}
    {{ page_title }}
{% endblock %}

{# breadcrumb #}
{% block breadcrumb %}
    <p class="page__breadcrumb">
        <a href="{% url 'project_list' %}">{% trans 'Proyectos' %}</a> » {% if not form.instance.pk %}Crear{% else %}Editar{% endif %} proyecto
    </p>
{% endblock %}


{# Sidebar #}
{% block sidebar %}
    {% include 'components/form.html' with form=form modifier='simple' delete_url='project_delete' api_url='api:project' submit='Guardar' %}
{% endblock %}

{# Content #}
{% block main %}
    {% lorem %}
{% endblock %}

{% block extra_js %}
    {{ form.media }}
{% endblock %}
