{# Dashboard page #}
{% extends 'layouts/single-column-fixed.html' %}

{# tags not defined as built-ins in settings.py #}
{% load i18n static %}

{# body's css classes #}
{% block body_css_classes %}
    page--dashboard toppadded page-form-project
{% endblock %}

{# html title #}
{% block title %}
    {{ page_title }}
{% endblock %}

{# Content #}
{% block main %}
{% include 'components/block-fake-breadcrumb.html' %}
<h1 clas="page__title">
    {{ page_title }}
</h1>

<form enctype="multipart/form-data" class="form-project-create form-simple" method="post">
    {% include 'components/block-form-errors.html' with form=form %}
    {% csrf_token %}
    {{ form.errors }}
    {{ form.as_p }}
    <input type="submit" value="{{ submit_text }}" />
</form>
{% endblock %}

{% block extra_js %}
    {{ form.media }}
{% endblock %}
