{# Dashboard page #}
{% extends 'layouts/two-column.html' %}

{# tags not defined as built-ins in settings.py #}
{% load i18n static %}

{# body's css classes #}
{% block body_css_classes %}
    page--dashboard page-form-project
{% endblock %}

{# html title #}
{% block title %}
    {{ page_title }}
{% endblock %}

{# breadcrumb #}
{% block breadcrumb %}
<div class="page__breadcrumb">
    <a href="{% url 'project_list' %}">{% trans 'Proyectos' %}</a> / {% if not form.instance.pk %}Crear{% else %}Editar{% endif %} proyecto
</div>
{% endblock %}


{# Sidebar #}
{% block sidebar %}
<form class="form" action="{{ action }}" enctype="multipart/form-data" method="post">
    <div class="actions">
        <span class="actions__title">
            {% if form.instance.pk %}
                {% trans 'Editar proyecto' %}
            {% else %}
                {% trans 'Crear proyecto' %}
            {% endif %}
        </span>
        <ul class="actions__items">
            <li class="actions__item" onclick="history.go(-1)">
                {% trans 'Cancelar' %}
            </li>
            <li class="actions__item">
                <input class="btn btn--red" type="submit" value="{% trans 'Guardar' %}" />
            </li>
        </ul>
    </div>
    <div class="form-fields">
        <div class="fieldset">
            {% include 'forms/field.html' with field=form.name %}
            {% include 'forms/field.html' with field=form.slug %}
            {% include 'forms/field.html' with field=form.published %}
        </div>
        <div class="fieldset">
            {% include 'forms/field.html' with field=form.image %}
            {% include 'forms/field.html' with field=form.readme %}
        </div>
    {% if form.instance.pk %}
    <div class="actions-secondary">
        <ul class="actions-secondary__items">
            {% if request.user.is_staff %}
            <li class="actions-secondary__item">
                <a href="{% url 'api:project' form.instance.slug %}" target="_blank">
                    {% trans 'Ver en API' %}
                    {% m_icon 'visibility' %}
                </a>
            </li>
            <li class="actions-secondary__item">
              <a href="{% url 'project_delete' form.instance.id %}">
                {% trans 'Borra este proyecto' %}
                {% m_icon 'delete' %}
              </a>
            </li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
</form>
{% endblock %}

{# Content #}
{% block main %}
    {% lorem %}
{% endblock %}

{% block extra_js %}
    {{ form.media }}
{% endblock %}
