{# Dashboard page #}
{% extends 'layouts/two-column.html' %}

{# tags not defined as built-ins in settings.py #}
{% load i18n static %}

{# body's css classes #}
{% block body_css_classes %}
    page--dashboard page--delete-project
{% endblock %}

{# html title #}
{% block title %}
    {% trans 'Borrar proyecto' %}
{% endblock %}

{# Content #}
{% block sidebar %}
<form class="form" method="post">
    <div class="actions">
        <span class="actions__title"></span>
        <ul class="actions__items">
            <li class="actions__item" onclick="history.go(-1)">
                {% trans 'Cancelar' %}
            </li>
            <li class="actions__item">
                <input class="btn btn--red" type="submit" value="{% trans 'Eliminar' %}" />
            </li>
        </ul>
    </div>
    <div class="form-fields">
        <div class="delete-text">
            <h5 class="delete-text__header white">
                Eliminar «<span class="delete-text__name">{{ object.name }}</span>»
            </h5>
            {% blocktrans trimmed %}
            ¿Estás seguro? Está acción no se puede deshacer
            {% endblocktrans %}
        </div>
        {% include 'forms/field.html' with field=object.pk classes="hidden" %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
    {{ form.media }}
{% endblock %}
