{# Dashboard page #}
{% extends 'layouts/single-column-fixed.html' %}

{# tags not defined as built-ins in settings.py #}
{% load i18n static %}

{# body's css classes #}
{% block body_css_classes %}
    page--dashboard page--delete-project toppadded
{% endblock %}

{# html title #}
{% block title %}
    {% trans 'Borrar proyecto' %}
{% endblock %}

{# Content #}
{% block main %}
<h1 clas="page__title">
    {% trans 'Borrar' %} «{{ object.name }}»
</h1>
<p>
{% blocktrans trimmed %}
¿Estás seguro que quieres borrar este proyecto? Este acción no se puede deshacer.
{% endblocktrans %}
</p>
{% include 'components/form.html' with form=form modifier='simple' submit="Borrar este proyecto" %}
{% endblock %}

{% block extra_js %}
    {{ form.media }}
{% endblock %}
