{# Dashboard page #}
{% extends 'layouts/two-column.html' %}

{# tags not defined as built-ins in settings.py #}
{% load i18n static imagekit dashboard_tags textblock_tags %}

{# body's css classes #}
{% block body_css_classes %}
    page--dashboard page--project-detail
{% endblock %}

{# html title #}
{% block title %}
    {{ object.name }}
{% endblock %}

{# breadcrumb #}
{% block breadcrumb %}
<div class="page__breadcrumb">
    <a href="{% url 'project_list' %}">{% trans 'Proyectos' %}</a> / {{ object.name }}
</div>
{% endblock %}

{# Sidebar #}
{% block sidebar %}
<div class="actions">
    <h5 class="actions__title">
        {{ object.name }}
    </h5>
    <ul class="actions__items">
        <li class="actions__item invert" data-tooltip="{% trans 'Añadir audioset' %}">
            <a href="{% url 'audioset_create' object.id %}">
                {% m_icon 'add_circle' %}
            </a>
        </li>
        <li class="actions__item invert" data-tooltip="{% trans 'Editar proyecto' %}">
            <a href="{% url 'project_update' object.id %}">
                {% m_icon 'edit_circle' %}
            </a>
        </li>
    </ul>
</div>
{% include 'components/view-dashboard.html' with item_list=audioset_list item_label='audioset' item_url='audioset_tracklist' %}
<p class="dashboard-action">

</p>
{% endblock %}

{# Content #}
{% block main %}
    {% textblock 'crear-audioset' %}
{% endblock %}
