{# Dashboard page #}
{% extends 'layouts/single-column-fixed.html' %}

{# tags not defined as built-ins in settings.py #}
{% load i18n static %}

{# body's css classes #}
{% block body_css_classes %}
    page--dashboard toppadded
{% endblock %}

{# html title #}
{% block title %}
    {% trans 'Borrar proyecto' %}
{% endblock %}

{# Content #}
{% block main %}
<h1 clas="page__title">
    {% trans 'Borrar' %} «{{ object.name }}»
</h1>
<p>
{% blocktrans trimmed %}
¿Estás seguro que quieres borrar este proyecto? Este acción no se puede deshacer.
{% endblocktrans %}
</p>
{% include 'components/block-form-errors.html' with form=form %}
<form class="form-project-delete form-simple" method="post">
    {% csrf_token %}
    {{ form.errors }}
    {{ form.as_p }}
    <input class="submit--delete" type="submit" value="{% trans 'Borrar proyecto' %}" />
    <span class="form__cancel" onclick="history.go(-1)">
        {% trans 'Cancelar' %}
    </span>
</form>
{% endblock %}

{% block extra_js %}
    {{ form.media }}
{% endblock %}
