{# Dashboard page #}
{% extends 'layouts/two-column.html' %}

{# tags not defined as built-ins in settings.py #}
{% load i18n static textblock_tags %}

{# body's css classes #}
{% block body_css_classes %}
    page--dashboard page--project-list
{% endblock %}

{# html title #}
{% block title %}
    {% trans 'Tus proyectos' %}
{% endblock %}

{# breadcrumb #}
{% block breadcrumb %}
<div class="page__breadcrumb">
    {% trans 'Proyectos' %}
</div>
{% endblock %}

{# Sidebar #}
{% block sidebar %}
<div class="actions">
    <span class="actions__title"></span>
    <ul class="actions__items">
        <li class="actions__item" data-tooltip="{% trans 'Añadir un proyecto' %}">
            <a href="{% url 'project_create' %}">
                {% m_icon 'add' %}
            </a>
        </li>
    </ul>
</div>
{% include 'components/view-dashboard.html' with item_list=project_list item_label='proyecto' item_url='project_detail' %}
{% endblock %}

{# Content #}
{% block main %}
    {% textblock 'como-funciona' %}
{% endblock %}
