{# Modal delete form for tracklist section #}
{% load i18n %}

<template id="template-form-delete">
    <form class="form-tracklist form" data-action="delete">
        {% csrf_token %}
        <div class="actions">
            <span class="actions__title"></span>
            <ul class="actions__items">
                <li class="actions__item" onclick="closePopup()">
                    {% trans 'Cancelar' %}
                </li>
                <li class="actions__item">
                    <input class="btn btn--red" type="submit" value="{% trans 'Eliminar' %}" />
                </li>
            </ul>
        </div>
        <div class="form-fields">
            <div class="delete-text">
                <h5 class="delete-text__header white">
                    Eliminar «<span class="delete-text__name"></span>»
                </h5>
                {% blocktrans trimmed %}
                ¿Estás seguro? Está acción no se puede deshacer
                {% endblocktrans %}
            </div>
            <input class="pk" name="pk" type="hidden" value="" />
        </div>
    </form>
</template>
