{# Modal forms for tracklist section #}
{% load i18n %}

<template id="template-form-clip">
    <form class="form-tracklist" data-model="clip" data-action="create">
        {% csrf_token %}
        <div class="form-tracklist__header">
            <span class="form-tracklist__close" data-tooltip="{% trans 'Cancelar' %}" onclick="closePopup()">
                {% icon 'x' %}
            </span>
            <h3 class="form-tracklist__label" data-action="create">
                {% trans 'Añade un clip' %}
            </h3>
            <h3 class="form-tracklist__label" data-action="update">
                {% trans 'Edita este clip' %}
            </h3>
        </div>
        <div class="form-tracklist__fields">
            <div class="fieldset fieldset-display {%if inline %}collapsible{% endif %}">
                <div class="fieldset__content">
                    {% for field in form %}
                    <div class="form-field form-field--{{ field.name }}">
                        <label class="form-field__label {% if field.field.required %}required{% endif %}" for="{{ field.name }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                    {% endfor %}
                    <input type="hidden" name="track" />
                </div>
            </div>
        </div>
        <input class="form-tracklist__submit" type="submit" value="{% trans 'Guardar' %}" />
    </form>
</template>
