{# Login form #}
{% load i18n static %}

<form action="{{ action }}" method="post" class="form--registration">
    {% csrf_token %}
    {% include 'registration/forms/form-errors.html' %}
    <div class="form-fields form-fields--registration">
        {% include 'registration/forms/form-field.html' with field=form.new_password1 icon='key' class='password' %}
        {% include 'registration/forms/form-field.html' with field=form.new_password2 icon='key' class='password' %}
    </div>
    <input class="form__submit form__submit--registration"
           type="submit"
           value="{% trans 'Envíar' %}"
    />
</form>
