{# Login form #}
{% load i18n static %}

<form action="{{ action }}" method="post" class="form-registration form-registration--password-reset">
    {% csrf_token %}
    {% include 'registration/forms/form-errors.html' with name="registration" modifier="password-reset" %}
    <div class="form-registration__fields">
        {% include 'registration/forms/form-field.html' name="registration" with field=form.new_password1 icon='key' class='password' %}
        {% include 'registration/forms/form-field.html' name="registration" with field=form.new_password2 icon='key' class='password' %}
    </div>
    <input class="form-registration__fields"
           type="submit"
           value="{% trans 'Envíar' %}"
    />
</form>
