{# Login form #}
{% load i18n static %}

<form action="{{ action }}" method="post" class="form-registration form-registration--password-reset">
    {% csrf_token %}
    {% include 'registration/forms/form-errors.html' with name="registration" modifier="password-reset" %}
    <div class="form-registration__fields">
        {% include 'registration/forms/form-field.html' with name="registration" form="registration" field=form.email icon='mail' class='email' %}
    </div>
    <input class="form-registration__submit"
           type="submit"
           value="{% trans 'Envíar' %}"
    />
</form>
