{# Login form #}
{% load i18n static %}

<form action="{{ action }}" method="post" class="form-registration form-registration--login">
    {% csrf_token %}
    {% include 'registration/forms/form-errors.html' with name="registration" modifier="login" %}
    <div class="form-registration__fields">
        {% include 'registration/forms/form-field.html' with name="registration" field=form.username icon='user' class='username' %}
        {% include 'registration/forms/form-field.html' with name="registration" field=form.password icon='key' class='password' %}
    </div>
    <input class="form-registration__submit" type="submit" value="{% trans 'Accede' %}" />
    <ul class="form-registration__actions">
        <li class="form-registration__actions-item">
            {% icon 'alert-circle' %}
            <a href="{% url 'password_reset' %}">
                {% trans '¿Has olvidado tu nombre de usuari@ o contraseña?' %}
            </a>
        </li>
    </ul>
</form>
