{# menu for user actions in dashboard #}
{% load i18n %}

<div class="menu-actions">
    <ul class="menu-actions__items">
        {% if section == 'project-list' %}
        <li class="menu-actions__item">
            <a href="{% url 'project_create' %}">
                  {% icon 'plus' %}
                  {% trans 'Crea un proyecto nuevo' %}
            </a>
        </li>
        {% elif section == 'project-detail' %}
        <li class="menu-actions__item">
            <a href="{% url 'audioset_create' section_id %}">
                  {% icon 'plus' %}
                  {% trans 'Añade un audioset nuevo a este proyecto' %}
            </a>
        </li>
        <li class="menu-actions__item">
            <a href="{% url 'project_update' section_id %}">
                  {% icon 'edit' %}
                  {% trans 'Edita este proyecto' %}
            </a>
        </li>
        <li class="menu-actions__item">
            <a href="{% url 'project_delete' section_id %}">
                  {% icon 'trash-2' %}
                  {% trans 'Borra este proyecto' %}
            </a>
        </li>
        <li class="menu-actions__item">
            <a href="{% url 'api:project' section_slug %}" target="_blank">
                  {% icon 'eye' %}
                  {% trans 'Ver en API' %}
            </a>
        </li>
        {% endif %}
    </ul>
</div>
