{# Renders a publishable item in the dashboard view #}
{% load i18n dashboard_tags imagekit %}

<figure class="field-thumbnail--item-dashboard">
    {% if item.image_small %}
        <img src="{{ item.image_small.url }}" />
    {% else %}
        {% blank_image %}
    {% endif %}
</figure>
<div class="fieldset-info--item-dashboard">
    <h4 class="field-name--item-dashboard">
        {{ item.name }}
    </h4>
    <div class="field-description--item-dashboard">
        {{ item|description }}
    </div>
</div>
