{# Dashboard views #}
{% load i18n %}

<div class="view-dashboard height-forms">
    {% for item in item_list %}
        <a href="{% url item_url item.pk %}"
           class="view-dashboard__item"
           data-hover="{% trans 'Ir a' %} {{ item_label }}"
        >
            {% include 'components/view-item-dashboard.html' %}
        </a>
    {% empty %}
        <div class="view-dashboard__empty">
        {% blocktrans trimmed %}
            No has creado todavía ningún {{ item_label }}
        {% endblocktrans %}
        </div>
    {% endfor %}
</div>
