{# renders a clip #}
{% load i18n static %}

<div class="clip" data-id="{{ clip.pk }}">
    <figure class="clip__thumbnail">
        {% if clip.image_thumb %}
            <img src="{{ clip.image_thumb.url }}" />
        {% else %}
        <img src="{% static 'dashboard/img/blank-image.svg' %}" />
        {% endif %}
    </figure>
    <div class="clip__name">
        {{ clip.name }}
    </div>
    <ul class="clip-actions">
        <li class="clip-actions__edit"
            data-show-template="template-form-clip"
            data-action="update"
            data-model="clip"
            data-id="{{ clip.pk }}"
            data-tooltip="{% trans 'Edita este clip' %}"
        >
            {% m_icon 'create' %}
        </li>
    </ul>
</div>
