{# renders a clip #}
{% load i18n static %}

<div class="clip" data-id="{{ clip.pk }}">
    <figure class="clip__thumbnail">
        {% if clip.image %}
        <img src="{{ clip.image.url }}" />
        {% else %}
        <img src="{% static 'dashboard/img/blank-image.svg' %}" />
        {% endif %}
    </figure>
    <div class="clip__name">
        {{ clip.name }}
    </div>
    {% if clip.key %}
    <span class="clip__key">
        {{ clip.key }}
    </span>
    {% endif %}
    <ul class="clip-actions">
        <li class="clip-actions__edit"
            data-show-template="template-form-clip"
            data-action="update"
            data-model="clip"
            data-id="{{ clip.pk }}"
            data-tooltip="{% trans 'Edita este clip' %}"
        >
            {% icon 'edit' %}
        </li>
        <li class="clip-actions__delete"
            data-show-template="template-form-delete"
            data-action="delete"
            data-model="clip"
            data-id="{{ clip.pk }}"
            data-tooltip="{% trans 'Borrar este clip' %}"
        >
            {% icon 'trash-2' %}
        </li>
    </ul>
</div>
