{# Renders an audioset in a view using a grid display #}
{% load i18n dashboard_tags %}

<div class="track-header">
    <p class="track__name">
        {{ track.name }}
    </p>
    <ul class="track-actions inline">
        <li class="track-action"
            data-show-template="template-form-clip"
            data-action="create"
            data-model="clip"
            data-id="{{ clip.pk }}"
            data-track="{{ track.pk }}"
            data-tooltip="{% trans 'Añade clip' %}"
        >
            {% m_icon 'add' %}
        </li>
        <li class="track-action"
            data-show-template="template-form-track"
            data-action="update"
            data-model="track"
            data-id="{{ track.pk }}"
            data-tooltip="{% trans 'Editar pista' %}"
        >
            {% m_icon 'create' %}
        </li>
    </ul>
</div>
<div class="track__clips" data-track="{{ track.pk }}" data-color="{{ track.color }}">
    {% for clip in track.clips.all %}
        {% include 'components/view-item-clip.html' with clip=clip track=track.pk %}
    {% empty %}
        <div class="empty">
        {% trans 'No has añadido clips todavía a este track' %}
        </div>
    {% endfor %}
</div>
