{# User menu #}
{% load static i18n %}

{% if not request.user.is_anonymous %}
<div class="menu-user {% if modifier %}menu-user--{{modifier}}{% endif %}">
    <ul class="menu-user__items {% if modifier %}menu-user__items--{{modifier}}{% endif %}">
        <span class="greeting__user">
            {% trans 'Bienvenido' %},
            <strong>{{ request.user.username }}</strong>
        </span>
        {% if request.user.is_staff %}
        <li class="menu-user__item {% if modifier %}menu-user__item--{{modifier}}{% endif %}"
            data-tooltip="{% trans 'Administra el sitio' %}"
        >
            <a href="{% url 'admin:index' %}">
                  {% icon 'settings' %}
            </a>
        </li>
        {% endif %}
        <li class="menu-user__item {% if modifier %}menu-user__item--{{modifier}}{% endif %}"
            data-tooltip="{% trans 'Logout' %}"
        >
            <a href="{% url 'logout' %}">
                  {% icon 'log-out' %}
            </a>
        </li>
    </ul>
</div>
{% endif %}
