{# User menu #}
{% load static i18n %}

<div class="menu-user">
    <ul class="menu-user__items">
        {% if not request.user.is_anonymous %}
        <span class="greeting__user">
            {% trans 'Bienvenido' %}, <strong>{{ request.user.username }}</strong>
        </span>
        {% if request.user.is_staff %}
        <li class="menu-user__item" data-tooltip="{% trans 'Administrar' %}">
            <a href="{% url 'admin:index' %}">{% m_icon 'settings' %}</a>
        </li>
        {% endif %}
        <li class="menu-user__item" data-tooltip="{% trans 'Salir' %}">
            <a href="{% url 'logout' %}">{% m_icon 'logout' %}</a>
        </li>
        {% else %}
        <li class="menu-user__item">
            <a href="{% url 'login' %}">{% m_icon 'login' %}</a>
        </li>
        {% endif %}
    </ul>
</div>
