@import compass/css3/animation

.site-messages
  position: fixed
  top: 100px
  right: $m
  font-size: $size_small
  width: 360px
  max-width: 100%
  z-index: 15000

.site-message
  border-radius: 4px
  padding: $m/2
  margin-bottom: $m/2
  transition: opacity .2s ease
  color: white
  +animation( slideright 1s 1)
  *
    pointer-events: none
  p
    margin-top: $m/4
  &:hover
    cursor: pointer
    opacity: .75

.site-message.collapsed
  opacity: 0
  pointer-events: none

.site-message__close
  position: absolute
  top: $m/2
  right: $m/2
  font-size: 1.5em
  color: white

.site-message--success
  background-color: $color_success
.site-message--error
  background-color: $red
