.actions
  display: flex
  justify-content: space-between
  align-items: center
  padding: $m/2
  z-index: 11000
  height: 40px
  color: white
  background-color: #bdbdbd
  top: $height_header

.actions__title
  margin: 0
  max-width: calc(100% - 80px)
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  color: rgba(black, .8)
  font-size: 1.2rem

.actions__items
  font-size: $size_small
  img
    transition: opacity .2s ease

.actions__item
  display: inline-block
  color: white
  &:hover
    cursor: pointer

.actions__item:not(:first-of-type)
  margin-left: $m/2
