// Background field

#id_mode_display
  display: inline-block
  li
    font-size: .8em
    display: inline
    margin-left: $m/2
  label, input
    cursor: pointer
    vertical-align: middle
  input
    position: relative
    top: -2px
  label:before
    content: none

.background-field[data-current-state='1'] .map
  display: none
.background-field[data-current-state='2'] .panel
  display: none

.panel
  .field__label
    display: none
  .field__widget--picture-preview .widget-wrapper
    padding: 0
    margin-left: $m*2
  .placeholder
    position: absolute
    left: 0
    right: 0
    top: 40px
    bottom: 0

.background-field__header
  background-color: #d6d6d6
  +breakpoint('sm')
    position: absolute
    left: 0
    right: 0
    top: 0
    display: flex
    justify-content: space-between
    align-items: center
    line-height: 40px
    height: 40px
  padding: 0 $m/2
  z-index: 12000
  &.hidden
    display: none

@media all and (max-width: 768px)
  .page--audioset-configuration-form
    .background-field__header
      height: 140px
      padding-top: 15px
    .background-field__helptext
      display: block
    .background-field__input
      margin-left: 20px
@media all and (min-width: 768px) and (max-width: 1400px)
  .page--audioset-configuration-form [data-current-state="2"] .background-field__header
    height: 80px
    .background-field--map
      float: right
      text-align: right
    .background-field__icon
      display: none
    .background-field__input,
    .background-field__submit
      position: relative
      top: -10px

.background-field__label
  font-weight: bold
  color: inherit
  margin: 0
  +breakpoint('xs')
    display: block
.background-field__helptext
  padding: 0 $m/2
  font-size: $size_small
  +breakpoint('xs')
    padding-top: $m/2
.background-field__input
  width: auto !important
  position: relative
  left: -4px
  line-height: 30px
  border: 0
  padding: 0 $m/2 0 30px !important
  +breakpoint('xs')
    display: inline-block
    margin: $m/2 0

.background-field__icon
  opacity: .5
  position: absolute
  z-index: 10
  +breakpoint('xs')
    display: none

.background-field__warning
  position: fixed
  top: 90px
  right: 10px
  width: 240px
  background: white
  line-height: 1.5em
  padding: $m/3
  font-size: $size_small
  transition: opacity .2s ease
  opacity: 1

.background-field__warning.hidden
  display: block
  opacity: 0
  pointer-events: none

.field--mode__display
  flex-basis: 240px
  label, ul
    display: inline
    vertical-align: middle
