// Generic style for tooltips
// Probably will need to be overriden
// because some settings cannot defined forehand
@import compass/css3/animation

[data-tooltip]
  position: relative
[data-tooltip]:hover:after
  content: attr(data-tooltip)
  position: absolute
  right: 30px
  top: 0
  height: 24px
  line-height: 24px
  width: $m*5
  text-align: center
  background-color: #4d4d4a
  z-index: 1000
  +animation(fadein .25s 1)
  border-radius: 4px
  color: white
  font-size: .8em
  pointer-events: none
