// // Tracklist forms

@import compass/css3/appearance

#form-tracklist-container
  background-color: #9e9e9e
  +breakpoint('sm')
    position: absolute
    z-index: 15000
    top: 40px
    left: 0
    max-height: 100%
    overflow-y: auto
    width: 33%
  +breakpoint('xl')
    width: 25%

$actions: create update delete
@each $action in $actions
  [data-action='#{$action}']
    .actions__title[data-action]
      display: none
    .actions__title[data-action='#{$action}']
      display: block

[data-action="create"] [data-action="delete"]
  display: none


.layout-form-audioset.saving:before
  content: ""
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  z-index: 100000
  background-image: url('../img/spinner.svg')
  background-repeat: no-repeat
  background-position: center center
  background-color: rgba(black, .75)

.layout-form-audioset[data-active='clip'] .tracklist,
.layout-form-audioset[data-active='track'] .tracklist
  display: none
