@import compass/css3/appearance

$big_text: 1.5rem

// Mode selector widget tweaks
#id_mode_display
  display: inline-block
  li
    font-size: .8em
    display: inline
    margin-left: $m/2
  li:first-child
    display: none
  label, input
    cursor: pointer
    vertical-align: middle
  input
    position: relative
    top: -2px
  label:before
    content: none


// Mode display
.mode-selector
  text-align: center
  position: relative
  height: 100%

.mode-selector,
.mode-selector__state
  position: relative

$states: 1 2
@each $state in $states
  .mode-selector[data-current-state='#{$state}']
    [data-state]
      display: none
    [data-state='#{$state}']
      display: block

.mode-selector__state
  display: none

.map__fields
  position: absolute
  left: 0
  bottom: 0
  height: 40px
  width: 100%
  text-align: left

.mode-selector .field--background
  padding-top: 40px
  .field__label
    display: none
  img
    max-height: 100%
    width: auto
    vertical-align: top
  .image-loaded .placeholder
    margin: 0
