// Audioset creation form

@import compass/css3/appearance

.form
  overflow-x: hidden
  background-color: #9e9e9e

.form .actions
  background-color: #9e9e9e

.form-action:not(.form-action--tracklist)
  display: inline
.form-actions--tracklist
  text-align: right
  width: 100%
.form-fields
  padding: 0 $m/2
.field__label
  display: block
  margin: 12px 0 6px
  color: white
  font-weight: bold
.required:after
  content: "*"
  color: darken($green, 5%)
  margin-left: 2px

.form-help
  font-size: $size_small
  a:link, a:visited
    color: white
  a:hover
    color: $red
  a:active
    color: white

.form-help--login
  padding: 0 $m/2
  text-align: right
  img
    filter: invert(1)

.form-help--tracklist
  line-height: 40px
  padding: 0 $m/2
  color: white

.form input,
.form select
  line-height: 25px
.form input:not([type=submit]):not([type=checkbox]):not([type=radio]),
.form textarea,
.form select
  border: 0
  width: 100%
  color: #333
  padding-left: $m/2
  padding-right: $m/2
  font-size: $size_small
.form textarea
  padding: $m/2
.form input[type='color']
  height: 40px
  padding: 0 !important
.form select
  +appearance(none)
  option
    max-width: 300px

.field__helptext
  display: block
  font-size: .8rem
  margin-top: $m/4
  color: #222

.textarea-counter
  text-align: right
  font-size: $size_small
  margin-bottom: $m/4

.field__widget--picture-preview
  display: grid
  grid-template-columns: 50% 50%
  align-items: end
  .placeholder
    text-align: center
    vertical-align: bottom
  a
    color: white
    text-decoration: underline
    text-decoration-style: dotted
  input[type=checkbox]
    margin-left: $m/2
    position: relative
    top: 2px
  br
    margin-bottom: $m/2
  .widget-wrapper
    padding: $m $m/2
    font-size: $size_small
    color: #9e9e9e
    *:not([type=file])
      display: none !important

.field--background .field__widget--picture-preview
  display: block
  input
    padding-left: 0 !important

.form .django-ckeditor-widget
  width: 100%

.form iframe
  max-width: 100% !important

.form .field a
  font-size: $size_small
  &:link, &:visited
    color: white
    max-width: 90%
    overflow: hidden
    text-overflow: ellipsis
    display: block
    white-space: nowrap
    margin: $m/3 0
    transition: color .2s ease
  &:hover
    color: lighten($red, 20%)
  &:active
    color: white

.form-field__delete--audio
  font-size: .8rem
  margin: $m/3 0
  input
    margin-right: $m/3
    position: relative
    top: 2px

.form__non-field-errors,
.form__field-errors,
.field__errors
  color: $red
  font-size: .8em
  padding: $m

.field.not-validated
  &:after
    content: attr(data-error)
    color: $red
    font-size: .8em
    padding: $m
    display: block

.cke_browser
  z-index: 20000 !important
