// Audioset creation form

@import compass/css3/appearance

.form--simple
  background: none
  border: 0
  margin: 0 auto

.form__label--simple
  font-weight: 600
  display: block
  margin: $m*1.5 0 $m/2
  text-transform: uppercase

.form--simple
  input[type='text'],
  input[type='number'],
  select,
  textarea
    width: 100%
    background-color: white
    color: #333
    border: 0
    min-height: $m*1.5

.form--simple
  input, select, textarea
    padding: $m/2 $m


.form--simple select
  +appearance(none)

.form-field__helptext--simple
  display: block
  font-size: .9em
  margin-top: $m/2
  margin-left: $m

.form__submit--simple,
.form__cancel--simple
  line-height: $m*1.5
  color: white
  border: 0
  font-weight: 600
  text-transform: uppercase
  text-align: center
  transition: background-color .2s ease
  display: block
  margin: $m auto

.form__submit--simple
  margin-top: $m*2
  width: $m*10
  background-color: $color_success
  &:hover
    background-color: lighten($color_success, 5%)
    outline: 2px solid darken($color_success, 10%)

.form__cancel--simple
  width: $m*10
  border: 1px solid white
  margin: 0 auto
  &:hover
    cursor: pointer

.form--simple .textarea-counter
  text-align: right
  font-size: .8em
  margin-bottom: $m/4

.form--simple .field__widget--picture-preview
  .placeholder
    text-align: center
    margin: $m 0
  a
    color: white
    text-decoration: underline
    text-decoration-style: dotted
  input[type=checkbox]
    margin-left: $m/2
    position: relative
    top: 2px
  br
    margin-bottom: $m/2

.form--simple .django-ckeditor-widget
  width: 100%

.form__field-errors--simple
  background-color: $color_danger
  color: white
  margin: $m/2 0
  padding: $m/4 $m/2
