// Audioset creation form

@import compass/css3/appearance

.form-simple
  background: none
  border: 0
  margin: 0 auto

.form-simple > p > label
  font-weight: 600
  display: block
  margin: $m*1.5 0 $m/2
  text-transform: uppercase

.form-simple
  input:not([type=checkbox]), select, textarea
    width: 100%
    background-color: black
    border: 0
    min-height: $m*1.5

.form-simple
  input, select, textarea
    padding: $m/2 $m


.form-simple select
  +appearance(none)

.form-simple .helptext
  display: block
  font-size: .9em
  margin-top: $m/2
  margin-left: $m

.form-simple input[type=submit],
.form__cancel
  line-height: $m*1.5
  color: white
  border: 0
  font-weight: 600
  text-transform: uppercase
  text-align: center
  transition: background-color .2s ease
  display: block

.page-form-project .form-simple input[type=submit]
  margin: $m*2 auto
  width: 240px
  background-color: $color_success
  &:hover
    background-color: lighten($color_success, 5%)
    outline: 2px solid darken($color_success, 10%)

.page-form-audioset .form-simple input[type=submit]
  width: 480px
  margin: $m/2 auto
.page-form-audioset .form-simple input[type=submit][name=add_configure]
  margin-top: $m*2
  background-color: $color_success
  &:hover
    background-color: lighten($color_success, 5%)
    outline: 2px solid darken($color_success, 10%)
.page-form-audioset .form-simple input[type=submit][name=add_return]
  background-color: $color_calm
  &:hover
    background-color: lighten($color_calm, 5%)
    outline: 2px solid darken($color_calm, 10%)


.form-simple input[type=submit].submit--delete,
.form-simple .form__cancel
  width: 240px

.form-simple input[type=submit].submit--delete,
  margin: $m*2 auto $m/2
  background-color: $color_danger
  &:hover
    background-color: lighten($color_danger, 5%)
    outline: 2px solid darken($color_danger, 10%)
.form-simple .form__cancel
  border: 1px solid white
  margin: 0 auto

.form-simple .form__cancel:hover
  cursor: pointer

.form-simple .textarea-counter
  text-align: right
  font-size: .8em
  margin-bottom: $m/4

.form-simple .field__widget--picture-preview
  .placeholder
    text-align: center
    margin: $m 0
  a
    color: white
    text-decoration: underline
    text-decoration-style: dotted
  input[type=checkbox]
    margin-left: $m/2
    position: relative
    top: 2px
  br
    margin-bottom: $m/2
