// Audioset form common settings

.layout-form-audioset
  background-color: #333
  height: 75vh
.layout-form-audioset__left
  background-color: #393939
  min-height: 100%
+breakpoint('sm')
  .layout-form-audioset__left
    display: inline-block
    width: 25%
    float: left
  .layout-form-audioset__right
    display: inline-block
    width: 75%
