
.menu-user
  position: fixed
  top: $m/2
  right: $m

.menu-user a
  &:link, &:visited
    color: white
  &:hover
    color: $yellow
  &:active
    color: white

.menu-user__item
  margin-bottom: $m/2
