.menu-user
  position: absolute
  right: $m/2
  top: 0

.menu-user__item
  display: inline
  margin-left: $m/4

.greeting__user
  display: none
  +breakpoint('md')
    display: inline

.page--login .menu-user
  display: none
