// Page common elements

.page__title
  line-height: $m*2
  padding: 0 $m/2
  color: white

.page__breadcrumb
  font-weight: bold
  line-height: 35px
  color: #991820
  padding: 0 $m/2
  background: white
  +breakpoint('sm')
    background: #ececec
  a
    color: $color_text
    font-weight: normal
  text-transform: uppercase
  font-size: .75em


.page--registration
  background: url('../img/bg--login.jpg') no-repeat center top/cover

.page--chao
  min-height: calc(100vh - 35px)
  background: url('../img/bg--logout.jpg') no-repeat center center/cover
