.clip
  position: relative
  display: flex
  justify-content: space-between
  align-items: center
  background-color: rgba(white, .25)
  padding-right: $m/2
  height: 50px
.clip__thumbnail img
  vertical-align: bottom
  width: auto
  max-height: 50px
  max-width: 50px
.clip:not(:last-child)
  margin-bottom: 2px
.clip__name
  flex-basis: 280px
  color: rgba(68,68,68,1)
  font-weight: bold
.clip-actions img
  opacity: .6
