// Dashboard view

+breakpoint('sm')
  .view-dashboard__item
    width: 33%
    display: inline-block
    vertical-align: top

.view-dashboard__item
  position: relative
  padding: 0 $m $m
  margin: 0 0 $m
  opacity: 0
  animation: fadeup 1s 1 forwards
  animation-timing-function: ease-out
  &:link, &:visited, &:hover, &:active
    color: inherit
  &:hover:after
    box-sizing: border-box
    content: attr(data-hover)
    text-align: center
    padding-top: 40%
    background: rgba($color_background, .9)
    color: $green
    font-weight: 600
    font-size: 1.2em
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    animation: fadein .5s 1

.field-thumbnail--item-dashboard
  text-align: center

.field-thumbnail--item-dashboard .blank-image
  width: 100%

.field-date--item-dashboard
  font-size: .8em
  margin-bottom: $m/4

.field-date--item-dashboard .field__value
  font-weight: bold

.field-description--item-dashboard .blank-description
  font-style: italic
  padding: 0 $m

.project-delete
  a
    &:link, &:visited
      color: white
    &:hover
      color: $green
    &:active
      color: white
  .feather
    vertical-align: middle
    height: .9em
    position: relative
    top: -2px
  +breakpoint('sm')
    font-size: .9em
    float: right
    margin-right: $m

.blank-image
  width: 100%
  padding: 0 $m*2
