.tracklist
  margin-top: 40px
  +clearfix
.tracklist__item .field-name
  margin: 0
  padding: $m/2 $m/4
  position: relative
  text-transform: uppercase
  background-color: rgba(black, .25)
.track__name
  margin: 0
  padding: $m/2 $m/4
  color: white
  font-weight: bold
.track-header
  display: flex
  justify-content: space-between
  align-items: center
  padding: $m/4 $m/2
  height: 40px
.track-actions img
  opacity: .6
.track-action
  margin-left: $m/2
  display: inline
.tracklist__item--audioset:hover
  cursor: grab
.tracklist__help
  padding: $m/2
  font-size: .8em
  text-align: center
