{# Login form page. Overrides auth's template #}
{% extends 'layouts/two-column.html' %}

{# tags not defined as built-ins in settings.py #}
{% load i18n static %}

{# body's css classes #}
{% block body_css_classes %}
page--registration page--login
{% endblock %}

{# html title #}
{% block title %}
Login
{% endblock %}

{# Content #}
{% block sidebar %}
<form action="{{ action }}" method="post" class="form form--login">
    {% csrf_token %}
    <div class="actions">
        <h5 class="actions__title">
            {% trans 'Login' %}
        </h5>
        <ul class="actions__items">
            <li class="actions__item">
                <input class="form-registration__submit btn btn--red" type="submit" value="{% trans 'Entrar' %}" />
            </li>
        </ul>
    </div>
    <div class="height-forms">
        <div class="form-fields">
            <input type="hidden" name="next" value="{{ next }}" />
            {% include 'forms/field.html' with field=form.username %}
            {% include 'forms/field.html' with field=form.password %}
        </div>
        {% include 'forms/form-errors.html' with name="registration" modifier="login" %}
        <div class="form-help form-help--login">
            <a href="{% url 'password_reset' %}">
                {% trans '¿Has olvidado tu nombre de usuari@ o contraseña?' %}
                {% m_icon 'psychology' %}
            </a>
        </div>
        <div class="site-info">
            {% blocktrans trimmed %}
            Hola, estamos aún en fase de pruebas del gestor de contenidos, si te interesa
            probar la herramienta puedes escribirnos a talleres@antropoloops.com y te
            crearemos un perfil de usuaria/o. ¡Saludos!
            {% endblocktrans %}
        </div>
    </div>
</form>
{% endblock %}
