{# Password reset form. Overrides auth's template #}
{% extends 'layouts/two-column.html' %}

{# tags not defined as built-ins in settings.py #}
{% load i18n %}

{# body's css classes #}
{% block body_css_classes %}
page--registration page--password-reset-confirm
{% endblock %}

{# html title #}
{% block title %}
{% trans 'Cambia tu contraseña' %}
{% endblock %}

{% block sidebar %}
<form action="{{ action }}" method="post" class="form form--registration">
    {% csrf_token %}
    <div class="actions">
        <h5 class="actions__title">
            {% trans 'Introduce una contraseña nueva' %}
        </h5>
        <ul class="actions__items">
            <li class="actions__item">
                <input class="form-registration__submit btn btn--red" type="submit" value="{% trans 'Envíar' %}" />
            </li>
        </ul>
    </div>
    <div class="height-forms">
        {% include 'forms/form-errors.html' with name="registration" modifier="login" %}
        <div class="form-fields">
            {% include 'forms/field.html' with field=form.new_password1 %}
            {% include 'forms/field.html' with field=form.new_password2 %}
        </div>
        <div class="form-instructions form-instructions--registration">
            {% blocktrans trimmed %}
            Introduce la nueva contraseña. Hazlo por duplicado para comprobar que
            la has escrito bien.
            {% endblocktrans %}
        </div>
    </div>
</form>
{% endblock %}
