{# Password reset form. Overrides auth's template #}
{% extends 'layouts/two-column.html' %}

{# tags not defined as built-ins in settings.py #}
{% load i18n %}

{# body's css classes #}
{% block body_css_classes %}
page--registration page--password-reset
{% endblock %}

{# html title #}
{% block title %}
{% trans 'Cambia tu contraseña' %}
{% endblock %}

{# Content #}
{% block sidebar %}
<form action="{{ action }}" method="post" class="form form--registration">
    {% csrf_token %}
    <div class="actions">
        <h5 class="actions__title">
            {% trans 'Cambia tu contraseña' %}
        </h5>
        <ul class="actions__items">
            <li class="actions__item">
                {% if not user.is_anonymous %}
                <a class="form-registration__submit btn btn--cancel"
                 href="{% if user.is_staff %}{% url 'project_list' %}{% else %}{% url 'audioset_list' %}{% endif %}"
                >
                    {% trans 'Cancelar' %}
                </a>
                {% endif %}
            </li>
            <li class="actions__item">
                <input class="form-registration__submit btn btn--red" type="submit" value="{% trans 'Envíar' %}" />
            </li>
        </ul>
    </div>
    <div class="height-forms">
        {% include 'forms/form-errors.html' with name="registration" modifier="login" %}
        <div class="form-fields">
            {% include 'forms/field.html' with field=form.email %}
        </div>
        <div class="site-info">
            {% blocktrans trimmed %}
                Para cambiar tu contraseña introduce el correo electrónico asociado a la cuenta
                y recibirás en el mismo instrucciones para cambiarla.
            {% endblocktrans %}
        </div>
    </div>
</form>
{% endblock %}
