{# Password reset form. Overrides auth's template #}
{% extends 'layouts/single-column.html' %}

{# tags not defined as built-ins in settings.py #}
{% load i18n %}

{# body's css classes #}
{% block body_css_classes %}
page--registration page--password-reset
{% endblock %}

{# html title #}
{% block title %}
{% trans 'Cambia tu contraseña' %}
{% endblock %}

{# Content #}
{% block main %}

<p class="fake-breadcrumb" onclick="history.go(-1)">
    {% icon 'arrow-left' %} {% trans 'Cancelar' %}
</p>
<h1 class="page__title">
  {% icon 'key' %} {% trans 'Cambia tu contraseña' %}
</h1>
<div class="form-instructions form-instructions--registration">
    {% blocktrans trimmed %}
        Si has olvidado tu contraseña introduce el correo electrónico asociado a la cuenta
        y recibirás en el mismo instrucciones para cambiarla.
    {% endblocktrans %}
</div>
{% include 'registration/forms/form--password-reset.html' %}

{% endblock %}
