{# Password reset form. Overrides auth's template #}
{% extends 'layouts/single-column.html' %}

{# tags not defined as built-ins in settings.py #}
{% load i18n %}

{# body's css classes #}
{% block body_css_classes %}
page--registration page--password-reset-confirm
{% endblock %}

{# html title #}
{% block title %}
{% trans 'Cambia tu contraseña' %}
{% endblock %}

{# Content #}
{% block main %}

{% if user.is_authenticated %}
<p class="form-errors">
    {% blocktrans trimmed %}
        Ya estás autenticado en la plataforma.
    {% endblocktrans %}
</p>
{% endif %}
<h1 class="page__title">
    {% icon 'key' %} {% trans 'Introduce una contraseña nueva' %}
</h1>
<div class="form-instructions form-instructions--registration">
{% blocktrans trimmed %}
    Introduce la nueva contraseña. Hazlo por duplicado para comprobar que
    la has escrito bien.
{% endblocktrans %}
</div>
{% include 'registration/forms/form--password-reset-confirm.html' %}

{% endblock %}
