{# Login form page. Overrides auth's template #}
{% extends 'layouts/two-column.html' %}

{# tags not defined as built-ins in settings.py #}
{% load i18n static %}

{# body's css classes #}
{% block body_css_classes %}
page--registration page--profile
{% endblock %}

{# html title #}
{% block title %}
Edita tu perfil
{% endblock %}

{# Content #}
{% block sidebar %}
<form action="{{ action }}" method="post" class="form form--login">
    {% csrf_token %}
    <div class="actions">
        <h5 class="actions__title">
            {% trans 'Edita tu perfil' %}
        </h5>
        <ul class="actions__items">
            <li class="actions__item">
                <a class="form-registration__cancel btn btn--cancel"
                 href="{% if user.is_staff %}{% url 'project_list' %}{% else %}{% url 'audioset_list' %}{% endif %}"
                >
                    {% trans 'Cancelar' %}
                </a>
            </li>
            <li class="actions__item">
                <input class="form-registration__submit btn btn--red" type="submit" value="{% trans 'Guardar' %}" />
            </li>
        </ul>
    </div>
    <div class="height-forms">
        <div class="form-fields">
            <input type="hidden" name="next" value="{{ next }}" />
            {% include 'forms/field.html' with field=form.username %}
            {% include 'forms/field.html' with field=form.email %}
        </div>
        {% include 'forms/form-errors.html' with name="registration" modifier="login" %}
        <div class="form-help form-help--login">
          <a href="{% url 'password_reset' %}">
            {% trans 'Cambiar contraseña' %}
            {% m_icon 'psychology' %}
          </a>
        </div>
    </div>
</form>
{% endblock %}
